h1{
    color: yellow;
    text-align: center;
}

body{
background-color: #00BFFF;
color: white;
}
#imagemprincipal{
    width: 100px;
    height: 100px;
}
#imagemjardim {
    width: 100px;
    height: 100px;
    border: 10px solid black;
    padding: 20px;
    margin-left: 25%;
}
