h1{
    color: yellow;
    text-align: center;
}

body{
background-color: #00BFFF;
color: white;
}
#jardim{
    width: 100px;
    height: 100px;
}

#fotoescola{
    width: 25%;
}

#escola{
    background-image:linear-gradient(#383d58 #00c0eb);
    color: black;
}
